<div class="page page-page1" data-name="paiementmode" ng-controller="PaiementModeController" ng-init="init()">
	<div class="navbar color-white">
		<div class="navbar-bg"></div>
		<div class="navbar-inner bg-custom">
			<div class="left">
				<a href="#" class="link back">
					<i class="icon icon-back"></i>
				</a>
			</div>
			<div class="title">Mode de paiement</div>
			<div class="right">
				<a class="link icon-only sheet-open alternate-user-icon pale" data-sheet=".my-sheet-swipe-to-step" id="alternate-user-icon">
					<i class="f7-icons">person_crop_circle_badge_plus</i>
				</a>
			</div>
		</div>
	</div>
    <div class="page-content" style="text-align:center">
        <div class="block-title block-title-medium">{{total}},00</div>
        <div class="block block-strong">
            
			<p>Montant total</p>
			
			<div class="pos-btn-list">
				<a href="#" class="col button button-fill bg-custom" ng-click="setpaiementmode('cashmoney')">ESPECES</a>
				<a href="#" class="col button button-fill bg-custom" ng-click="setpaiementmode('bluecard')">CARTE BLEUE</a>
				<a href="#" class="col button button-fill bg-custom" ng-click="setpaiementmode('mobimoney')">MOBILE MONEY</a>
            </div>
			
        </div>
    </div>
</div>